body{
				background-color:#919191;
				}
#judul{
				background:#000000;
				color:#ffffff;
				text-align: center;
				}
#index_isi{
				text-align: justify;
				}
#index_menu{
				display: inline-block;
				background-color:#006bff;
				text-decoration:none;
				color:white;
				outline: solid 2px;
				padding: 5px 5px;
				}
.index_label{
				display: block; text-align: center;
				}
