body{
				background-color: #17ffbb;
				}
#judul{
				background: #63ff00;
				color: #fffb00;
				text: center;
				}
.media{
				background: #4cff00;
				display: inline-block;
				padding: center;
				}
